{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <section class="jumbotron bottom-border-custom tan-background text-center">
      <div class="container font-custom">
        <h1 class="jumbotron-heading pt-3">Hi, I'm Leo!</h1>
        <p class="lead text-muted">My name is Leonardo Santos. I am 22 years old and currently working as an IT Litigation Consultant at DisputeSoft. In my spare time, I like to religiously rewatch the Office, read books, go rock-climbing, and spend time with friends and family.</p>
        <p>
          <a href="mailto:lsantos124@gmail.com" class="btn btn-custom my-2">Email Me</a>
        </p>
        <img class="d-block w-50 mx-auto" src="{% static 'Headshot.png' %}">
        </div>
      </div>
    </section>

    <div class="album py-2 tan-background">
      <div class="container">
        <h1 class="font-custom">Current Projects</h1>
        <div class="row">
          {% for currentjob in currentjobs.all %}
          <div class="col-md-4">
            <a class="a-normal" href="{% url 'jobdetail' currentjob.id %}">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ currentjob.image.url }}" />
              <div class="card-body">
                <p class="card-text">{{currentjob.summary}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <hr/>
        <h1 class="font-custom">Past Projects</h1>
        <div class="row">
          {% for pastjob in pastjobs.all %}
          <div class="col-md-4">
            <a class="a-normal" href="{% url 'jobdetail' pastjob.id %}">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ pastjob.image.url }}" />
              <div class="card-body">
                <p class="card-text">{{pastjob.summary}}</p>
              </div>
            </div>
            </a>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>

  {% endblock %}
